.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.main-header ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-header li {
	display: inline-block;
}

.top-navigation {
	background-color: #000000;
}

.top-navigation a {
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #B9B9C3;
}

ul.top-navigation__region {
	float: left;
}

ul.top-navigation__user {
	float: right;
}

.bottom-navigation {
	background-color: #3A3A43;
}

.bottom-navigation__site,
.bottom-navigation a {
	float: left;
}

.bottom-navigation__banner {
	float: right;
}

.content {
	min-width: 740px;
	max-width: 976px;
}


.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumbs li {
	display: inline-block;
}

.action-top__title h2 {
	width: 800px;
	float: left;
}

.action-top__counter {
	float: right;
	text-align: center;
}

.content-image {
	float: left;
}

.content-details {
	width: 500px;
	float: right;
}

.content-details p {
	margin: 0;
	padding-top: 20px;
	display: inline-block;
}

.action__image,
.action__details {
	float: left;
}

.action__details {
	margin-left: 20px;
	width: 400px;
}

.action__counter {
	float: right;
	width: 80px;
}

.action-item {
	width: 33%;
	float: left;
}